<div class="index">
  <div class="topNav">
    <%= link_to 'Sign In', signin_path %>
    <%= link_to 'Sign Up', signup_path %>
  </div>
  <div class="placeCenter">
    <h1>Welcome to our BootCamp</h1>
    <p>One of the top rated bootcamps in India.</p>
    <%= link_to "Login", "", id: "login-trigger", class: "btn" %>
  </div>
  <div class="downNav">
    <%= link_to 'Contact', contact_path %>
  </div>


</div>
